body{
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
.namehigh{
    color: chartreuse;
}
.half-width{
    width: 35%;
    float: left;
    margin: 5%;
    padding-left: 2%;
   
}
.side-img{
    width: 100%;
    
}
.direct-link{
    text-decoration: none;
    background-image: linear-gradient(green,mediumseagreen);
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;
    background-color: mediumseagreen;
    color: white;
    font-weight: 700;
}
.top-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
}
section{
    height: 600px;
    
    
    
}
.dream-section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    margin-top: 10%;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    height: 50%;
    border-left: 7px solid;

}
#first-exp{
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
}
#second-exp{
     border-image: linear-gradient(blue,cyan);
     border-image-slice: 2;
}
footer p {
    text-align: center;
}